/* common sheard style */
body{
    font-family: 'Open Sans', sans-serif;
}

.primary-color{
    color: #FD6E0A;
}

.btn-primary{
    border-radius: 5px;
    background: #FD6E0A;
    border: 0;
    font-size: 20px;
    font-weight: 700;
    color: beige;
    padding: 15px 35px;
    
}
/* nav releted protfolio */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: ;

}

.nav-titel{
    color: #181818;
    font-size: 45px;
    font-weight: 800;
    

}
nav >ul{
    display: flex;
    align-items: center;
}

nav li{
    list-style: none;
    margin-right:50px;
}

nav a{
    text-decoration: none;
    color:#474747;
}
/* header style */
.header{
    background-color: #FFF8F3;
}
.banner{
    padding:30px 30px 30px 150px ;
    display: flex;
    align-items: center;
}

.banner.p-picture{
    width:500px ;

}